.pflio-main-div{
    padding: 100px 0px 80px 0px;
}
.row-1{
    display:flex;
}
.row-1>h1{
    margin-right:15%;
    font-weight: bold;
    flex-grow: 1;
}
.row-1>p{
    margin-right:15%;
    /* font-weight: bold; */
    flex-grow: 1;
    color:grey;
    font-size: 18px;
}